html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
	gap: 5rem;
  grid-template-areas: 
    "experiment results"
    "hyposis results"; 
	margin: 0 auto;
	max-width: 95rem;
	padding: 5rem;
}

.experiment { grid-area: experiment; }

h2 {
	margin-bottom: 0;
}

form {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 1rem;
}

input[type="number"] {
	font-size:3rem;
	text-align: right;
	max-width: 100px;
}

.hyposis {
	grid-area: hyposis;
	flex: 0 0 100%;
}

.results { grid-area: results; }

.results li {
	margin-bottom: 1rem;
}

.results span {
	align-items: center;
	display: inline-flex;
	height: 3rem;
	font-size: 2rem;
	justify-content: center;
	margin-right: 1rem;
	min-width: 3rem;
	vertical-align: bottom;
}

.results span:not(:last-child) {
	border: 1px solid gray;
	border-radius: 0.25rem;
	box-shadow: 0.1rem 0.2rem 0.2rem rgb(0 0 0 / 75%);
}

.results span:last-child::before {
	content: "=";
	display: inline-block;
}

.hyposis form pre {
	font-size: 2.5rem;
	margin: 0;
}

.warning {
	font-size: 1.2rem;
}

#assumption {
	background-color: lightgray;
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 2rem;
	border: none;
}

.actual, .expected {
	background-color: black;
	padding: 1rem;
	border-radius: 0.5rem;
}

.actual {
	color: lawngreen;
}

.expected {
	color: red;
}

.restart {
	cursor: pointer;
	display: block;
	font-size: 1.6rem;
	margin: 1rem auto 0;
	padding: 0.5rem;
}